nav{
    float: right;
    padding: 20px 20px 20px 20px;
    word-spacing: 30px;
    font-size: 27px;
    overflow: hidden;
    display: block;
    text-align: center;
    position: relative;
    bottom: 90px;
}

a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

a:hover{
    color: deepskyblue;
}